parameters:
    level: 8
    paths:
        - src
        - examples

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
